body {
  box-sizing: border-box;
  margin: 50px 0;
  padding: 0;
  overflow: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

/* global styles*/
.task-btn {
  background: #007bff;
  color:#fff;
  border-radius: 4px;
  border: 0;
  height: 35px;

}

.container {
  width: 600px;
  margin : 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #f7f9fc;
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
}

header {
  flex-basis: 300px;
}

.add-task-component {
  flex-basis: 50px;
}

.tasks-group {
  max-height: 230px;
  overflow: auto;
}

/* Header Styles */
.header-container {
  position: relative;
}

.header-container img {
  width: 100%;
  border-radius: 8px;
}

.header-todo-label {
  padding: 4px 8px;
  color: white;
  background: rgba(0,0,0, .6);
  font-size: 24px;
  font-weight: 700;
  border-radius: 4px;
  position: absolute;
  bottom: 15px;
  left: 10px;
}

/* Add task */
.add-task {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 0;
}

.add-task div:first-child {
  flex-basis: 70%;
}

.add-task div:last-child {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.add-task input  {
  width: 100%;
  height: 40px;
}

.add-task button {
  width: 60px;
}

/* Task */
.task-container {
  display: flex;
  padding: 8px;
  background-color: #fff;
  margin-bottom: 10px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.task-container * {
  flex: 1;
}

.task-container div:first-child {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.task-container div:last-child {
  text-align: right;
}

.delete-btn {
  width: 70px;
}